/* body.css */
body {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}
/* Login.css */
/* image css */
.Image img{
    width: 150px;
}

::placeholder {
    color: rgb(109, 109, 109) !important;
    opacity: 1 !important; 
}

.Text1{
    font-size: 24px;
}

